@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body, html{
    height: 100%;
    margin: 0;
    font-family: "Poppins", sans-serif;
    line-height: 1.8em;
    color: #fff;
    background-color: #121212;
}
body a{
    text-decoration: none;
    color: #fff;
}
body a:hover{
    color: #EC970F;
}
.header{
    width: 100%;
    position: absolute;
    display: flex;
    height: 5%;
    font-size: 25px;
    padding: 1rem 0;
    background-color: #121212;
    z-index: 1;
}
.combo img{
    padding: 0 0 0 1rem;
    animation: 3s scaleImg infinite;
}
@keyframes scaleImg{
    0%{ transform: scale(1.0); }
    50%{ transform: scale(0.8); }
    100%{ transform: scale(1.0); }
}
.combo{
  display: flex;
}
.logo{
    position: relative;
    text-align: center;
    padding: 0 1rem;
    margin: 0;
    transition: .3s all ease;
}
.logo:hover{
  color: #ff9f1c;
}
#toggle{
  position: absolute;
  height:25px;
  width: 30px;
  right: 1%;
  padding-right: .5rem;
}


.menu{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  padding: 0 2rem;
  width: 15%;
  height: 100vh;
  background-color: white;
  color: black;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}
.menu a{
  text-decoration: none;
  color: black;
}
.menu li{
  list-style: none;
  padding: .2rem 0;
  transition: .3s all ease;
}
.menu li:hover{
  color: #ff9f1c;
}
.menu:hover{
  background-color: #ffe;
}
.website__rights{
    text-align: center;
    padding: 0.5rem;
}
@media(max-width: 360px){
    .header{
        width: 100%;
    }
    .menu{
      width: 100%;
    }
    .contact_form{
        padding: 1rem;
    }
}
