.main{
  width: 100%;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  background-color: #ff9f1c;
}
.mid{
  width: 100%;
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: black;
  height: 70vh;
}
.mid h3, p{
  padding: 1rem 5rem;
}
.text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
  width: 60%;
}
.text a{
    background-color: white;
    color: black;
    padding: .5rem 3rem;
    transition: .2s all ease-in;
}
.text a:hover{
    letter-spacing: 2px;
    color: white;
    background: transparent;
    border: 1px solid white;
    box-shadow: 1px 1px 1px white;
    text-decoration: underline;
}
.main h1, h2, h3, p{
  text-align: center;
}
.main h1, h2, h3{
  text-transform: uppercase;
}
.main h1{
  font-size: 4em;
  line-height: 1em;
  transition: .3s all ease-in;
}
.main h1:hover{
  color: black;
}
.main h2{
  font-size: 2em;
  line-height: .5em;
}
.svg_here{
  background: url('gallery/home_page.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height:275px;
  width: 300px;
}
.contact{
  display: flex;
  background-color: #2ec4b6;
  width: 100%;
  /*padding: 1rem 3rem;*/
 /* margin: 0 1rem;*/
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: 2s background-color;
}
.contact_form{
    border: 2px solid white;
    padding: 1rem 2rem;
    width: 70%;
    margin: 0 2rem;
    text-align: left;
}
.contact_form form{
    display: flex;
    flex-direction: column;
}
.contact_form form input{
    padding: 0.5rem;
    justify-content: flex-start;
    background: #efffef;
    border: 1px solid white;
}
.contact_form form label{
    padding: 0.2rem;
    transition: 100ms all ease-in;
}
textarea{
  background: #efffef;
  border: 1px solid white;
}
.contact_form form label:hover{
    letter-spacing: 2px;
}
.left{
    padding: 5rem 1rem;
    width: 30%;
    color: white;
}
.left ul{
    list-style: none;
}
.btns{
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0 0 0;
}
.btns input{
    width: 50%;
    border: 1px solid white;
    background-color: transparent;
    color: black;
    transition: 300ms all ease-in;
}
.btns input:hover{
    background-color: white;
    color: #ff9f1c;
    letter-spacing: 2px;
}
.btns #sendmail{
    margin-right: 0.5rem;
}
.contact a{
    text-decoration: none;
    filter: invert(1);
}
.social{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
.handles{
  display: flex;
  align-items: center;
  justify-content: center;
}
.handles a{
  padding: 1rem;
  transform: scale(1.5);
  transition: 0.5s;
  font-size: 25px;
}
.contact a:hover{
    color: #000;
}

.handles a:hover
{
  transform: scale(1.0) translateY(-15px);

}

.website__rights{
    text-align: center;
}


@media(max-width: 760px){
    .header{
        height: 4%;
        font-size: 20px;
    }
    .text a{
        padding: .2rem 1rem;
    }
    #toggle{
      right: 18%;
      height: 15px;
      width: 20px;
    }
    .main{
        width: 100%;
        margin-left: 0;
        flex-direction: column;
        padding: 0;
    }
    .mid{
        width: 100%;
        height: 100vh;
        flex-direction: column;
    }
    .svg_here{
      height:220px;
      width: 250px;
    }
    .text{
      text-align: center;
    }
    .text h1{
       padding: 7rem 0 0 0;
      font-size: 3rem;
    }
    .text h2{
      font-size: 1.5rem;
      line-height: .9em;
    }
    .contact{
        width: 100%;
        margin-left: 0;
        flex-direction: column;
        border-bottom: 1rem solid #EC970F;
    }
    .left{
        width: 90%;
        padding: 1rem 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .addr p{
        padding: 0rem 1rem;
    }
    .contact_form{
        border: none;
        width: 90%;
    }
    .handles{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
