@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body, html{
    height: 100%;
    margin: 0;
    font-family: "Poppins", sans-serif;
    line-height: 1.8em;
    color: #fff;
    background-color: #121212;
}
body a{
    text-decoration: none;
    color: #fff;
}
body a:hover{
    color: #EC970F;
}
.header{
    width: 100%;
    position: fixed;
    display: flex;
    height: 5%;
    font-size: 25px;
    padding: 1rem;
    background-color: #121212;
    z-index: 1;
}
.header img{
    animation: 3s scaleImg infinite;
}
@keyframes scaleImg{
    0%{ transform: scale(1.0); }
    50%{ transform: scale(0.8); }
    100%{ transform: scale(1.0); }
}
.logo{
    text-align: center;
    padding: 0 1rem;
    margin: 0;
}
.section{
    text-align: center;
    width: 100%;
    padding: 4rem 0 2rem 0;
    line-height: 30px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.about{
    position: relative;
    width: 70%;
    padding: 2rem;
}
.svg_abt{
    position: relative;
    background: url("../gallery/welcome1.svg");
    background-repeat: no-repeat;
    left: 5%;
    height: 350px;
    width: 350px;
}

@keyframes move_horizon{
    0%{ left:0%; }
    50%{ left: 8%; }
    100%{ left:0%; }
} 

.section-light{
    background-color: #f4f4f4;
    color: #444;
    display: flex;
    flex-direction: row;
    transition:1s 1s all ease-in;
}
.section-light:hover{
    background: transparent;
    color: #f4f4f4;
}
.section-light h2{
    text-transform: uppercase;   
    line-height: 1em;
}
.vision{
    width: 70%;
    position: relative;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 2s  ease-in;
}

.section-mid:hover{
    background-color: #f4f4f4;
    color: #444;
    border-bottom: 20px dotted #EC970F;
}
.svg_vis{
    position: relative;
    background: url("../gallery/vision.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 300px;
}
.section-dark{
    position: relative;
    background-color: #2D2C2D;
    color: #ddd;
    padding: 1rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    border-right: 20px solid #EC970F;
}
 h2:hover{
    color: #EC970F;
}
@media(max-width: 360px){
    .header{
        height: 4%;
        font-size: 20px;
    }
    .section{
        flex-direction: column;
    }
    .svg_abt,
    .svg_vis{
        height: 180px;
        width: 180px;
        top: 20%;
        margin-top: 2rem;
    }
    .section-light h2{
        text-transform: uppercase;   
        font-size: 1.5rem;
    }
    .section-dark{
        width: 70%;
    }
}

.website__rights{
    text-align: center;
}