/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body, html{
    height: 100%;
    margin: 0;
    font-family: "Poppins", sans-serif;
    line-height: 1.8em;
    color: #fff;
    background-color: #121212;
}
body a{
    text-decoration: none;
    color: #fff;
}
body a:hover{
    color: #EC970F;
}
.header{
    width: 95%;
    position: absolute;
    display: flex;
    height: 5%;
    font-size: 25px;
    padding: 1rem;
    background-color: #121212;
    z-index: 1;
}
.combo img{
    animation: 3s scaleImg infinite;
}
@keyframes scaleImg{
    0%{ transform: scale(1.0); }
    50%{ transform: scale(0.8); }
    100%{ transform: scale(1.0); }
}
.combo{
  display: flex;
}
.logo{
    position: relative;
    text-align: center;
    padding: 0 1rem;
    margin: 0;
    transition: .3s all ease;
}
.logo:hover{
  color: #ff9f1c;
}
#toggle{
  position: absolute;
  height:25px;
  width: 30px;
  right: 1%;
}*/
.section{
    text-align: center;
    width: 100%;
    padding: 4rem 0 2rem 0;
    line-height: 30px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.ovrvw{
    position: relative;
    width: 70%;
    padding: 2rem;
}
.svg_abt{
    position: relative;
    background: url("../gallery/overview.svg");
    background-repeat: no-repeat;
    height: 350px;
    width: 350px;
}

@keyframes move_horizon{
    0%{ left:0%; }
    50%{ left: 8%; }
    100%{ left:0%; }
} 

.overview{
    background-color: #f4f4f4;
    color: #444;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}
.overview h2{
    text-transform: uppercase;   
    font-size: 3em;
    line-height: 1em;
}
.vision{
    width: 70%;
    position: relative;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 2s  ease-in;
}
.feature_text{
    display: flex;
    flex-direction: column;
}
.feature{
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1rem 0rem 1rem 5rem;
}
.feature p{
  padding: 3rem 3rem;
  background-color: white;
  color: black;
  height: 50%;
  width: 50%;
  color: white;
  transition: .5s all ease-in;
}
.feature p:nth-child(odd){
    background-color: #ff9f1c;
    border-top-right-radius: 30%; 
    border-bottom-left-radius: 30%;
}
.feature p:nth-child(even){
    background-color: #2ec4b6;
    border-top-left-radius: 30%; 
    border-bottom-right-radius: 30%;
}
.title_feature{
  color: black !important;
  background-color: white !important;
  border-radius: 50% !important;  
}
.feature p:hover{
  background-color: white;
  color: black;
}
.feature_title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 3rem;
}
.svg_vis{
    position: relative;
    background: url("../gallery/vision.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 100px;
}
.feature2{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feature2 p{
  padding: 1rem;
  background-color: #010101;
  color: white;
  width: 90%;
  transition: .5s all ease-in;
  border-right: 5px solid #ff9f1c;
}
.title_feature2{
  color: black !important;
  background-color: white !important;
}
.feature2 p:hover{
  background-color: white;
  color: black;
}
.cond{
    width: 50% !important;

}
.section-dark{
    position: relative;
    background-color: #2D2C2D;
    color: #ddd;
    padding: 1rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    border-right: 20px solid #EC970F;
}
h2{
    transition: .5s all ease-in;
}
 h2:hover{
    color: #EC970F;
}

.option{
    width: 50%;
    background-color: white;
    color: black;
    margin: 1rem;
}
.option h4{
    background-color: black;
    color: white;
    padding: 1rem 0;
}
.option div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.option p{
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    transition: 0.6s all ease-in;
}
.option p:hover{
    letter-spacing: 3px;
    background-color: #ff9f1c;
}
@media(max-width: 360px){
    .header{
        height: 4%;
        font-size: 20px;
    }
    .section{
        flex-direction: column;
    }
    .svg_abt,
    .svg_vis{
        height: 180px;
        width: 180px;
    }
    .overview h2{
        text-transform: uppercase;   
        font-size: 1.5rem;
    }
    .section-dark{
        width: 70%;
    }
 
.feature{
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(9, 1fr);
  padding: 1rem 0rem 1rem 2rem;
}
.feature p{
  padding: 3rem 3rem;
  background-color: white;
  color: black;
  height: 50%;
  width: 50%;
  color: white;
  transition: .5s all ease-in;
}
.feature p:nth-child(odd){
    background-color: #ff9f1c;
    border-top-right-radius: 30%; 
    border-bottom-left-radius: 30%;
}
.feature p:nth-child(even){
    background-color: #2ec4b6;
    border-top-left-radius: 30%; 
    border-bottom-right-radius: 30%;
}
.title_feature{
  color: black !important;
  background-color: white !important;
  border-radius: 50% !important;  
}
.feature p:hover{
  background-color: white;
  color: black;
}
.feature_title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 2rem;
}
.svg_vis{
    position: relative;
    background: url("../gallery/vision.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 70px;
    width: 70px;
}
.feature2 p{
  width: 60%;
  font-size: 1rem;
}
.title_feature2{
    width: 70% !important;
}
.options{
    flex-direction: column;
}
.option{
    width: 90%;
}
.option div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
}
.website__rights{
    text-align: center;
    padding: 0.5rem;
}
